<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>UIAppFonts</key>
	<array>
		<string>Poppins-Black.ttf</string>
		<string>Poppins-BlackItalic.ttf</string>
		<string>Poppins-Bold.ttf</string>
		<string>Poppins-BoldItalic.ttf</string>
		<string>Poppins-ExtraBold.ttf</string>
		<string>Poppins-ExtraBoldItalic.ttf</string>
		<string>Poppins-ExtraLight.ttf</string>
		<string>Poppins-ExtraLightItalic.ttf</string>
		<string>Poppins-Italic.ttf</string>
		<string>Poppins-Light.ttf</string>
		<string>Poppins-LightItalic.ttf</string>
		<string>Poppins-Medium.ttf</string>
		<string>Poppins-MediumItalic.ttf</string>
		<string>Poppins-Regular.ttf</string>
		<string>Poppins-SemiBold.ttf</string>
		<string>Poppins-SemiBoldItalic.ttf</string>
		<string>Poppins-Thin.ttf</string>
		<string>Poppins-ThinItalic.ttf</string>
		<string>FontAwesome.ttf</string>
		<string>MaterialIcons.ttf</string>
		<string>MaterialCommunityIcons.ttf</string>
		<string>VVE-Giallo-Bold.ttf</string>
		<string>VVE-Giallo-BoldItalic.ttf</string>
		<string>VVE-Giallo-Book.ttf</string>
		<string>VVE-Giallo-BookItalic.ttf</string>
		<string>VVE-Giallo-ExtraBold.ttf</string>
		<string>VVE-Giallo-ExtraBoldItalic.ttf</string>
		<string>VVE-Giallo-Heavy.ttf</string>
		<string>VVE-Giallo-HeavyItalic.ttf</string>
		<string>VVE-Giallo-Italic.ttf</string>
		<string>VVE-Giallo-Light.ttf</string>
		<string>VVE-Giallo-LightItalic.ttf</string>
		<string>VVE-Giallo-Medium.ttf</string>
		<string>VVE-Giallo-MediumItalic.ttf</string>
		<string>VVE-Giallo-Regular.ttf</string>
		<string>VVE-Giallo-Thin.ttf</string>
		<string>VVE-Giallo-ThinItalic.ttf</string>
	</array>
</dict>
</plist>
